AlignConsecutiveAssignments:
  Enabled: true
  AcrossEmptyLines: true
  AcrossComments: false
  PadBeforeAssignments: false   # Opcional: evita espacios adicionales antes del `=`
ColumnLimit: 0                     # Desactiva límite de columnas (para no romper líneas)
BasedOnStyle: Microsoft
AlignConsecutiveMacros:
  Enabled: true
  AcrossEmptyLines: true
  AcrossComments: false
  AlignOnOperator: true   # Fuerza alineación en '=' (o otros operadores)
AlignConsecutiveDeclarations:
  Enabled: true
  AcrossEmptyLines: true
  AcrossComments: false
  Align: InlineInitializer   # Enfocado en inicializadores
AllowAllArgumentsOnNextLine: false
# Add 4 spaces to indent
IndentWidth: 4